@model BuildMonitor.Models.Message

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Message</legend>

    <div class="display-label">MessageName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MessageName)
    </div>

    <div class="display-label">MessageDetails</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MessageDetails)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
