@model BuildMonitor.Models.Feature

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Feature</legend>

    <div class="display-label">FeatureName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FeatureName)
    </div>

    <div class="display-label">Enabled</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Enabled)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
