@model List<BuildMonitor.Models.Entities.Feature>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<table>
    <tr>
        <th>Id</th>
        <th>Feature Name</th>
        <th>Enabled?</th>
    </tr>
    @foreach (var feature in Model)
    {
        <tr>
            <td>@feature.FeatureSwitchId</td>
            <td>@Html.ActionLink(feature.FeatureName, "FeatureDetails", new {featureId = feature.FeatureSwitchId}, null)</td>
            <td>@feature.Enabled</td>
        </tr>
    }
</table>

@Html.ActionLink("Add New Feature", "AddFeature");
